*csv
*gz
*gz


work/eda/
work/src/
# notebooks以下
work/notebooks/eda-sql/
work/notebooks/others/*.py
work/notebooks/others/*.ipynb
work/notebooks/others/*.R
work/notebooks/others/*.Rmd
work/notebooks/.ipynb_checkpoints/*.ipynb