*csv
*pkl
*gz
*gz


work/eda/
work/src/
# notebooks以下
work/notebooks/others/*.py
work/notebooks/others/*.ipynb
work/notebooks/others/*.R
work/notebooks/others/*.Rmd
work/notebooks/others/light_gbm_benchmark_0_3692/*.py
work/notebooks/.ipynb_checkpoints/*.ipynb